.header {
  background: #1976d2;
  color: #fff;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.3);
  .nav-link {
    color: #fff;
  }
}

.sidebar {
  .nav-item {
    padding: 5px 0;

    &:hover {
      cursor: pointer;
      box-shadow: 0 2px 5px 0 rgba(0,0,0,.3);
    }
  }
}

.default-sidebar {
  margin: 15px 0;
}

.footer {
  background-color: #f5f5f5;
}
